{% extends 'base.html' %} 

{% block title %}Coluna do Capivara{% endblock %} 

{%block content %}
<div class="row p-3 m-5">
  <div class="card col-lg-5 m-3">
    <h1 class="text-center">East</h1>
    <div class="card">
        <h3 class="card-title p-2 text-center">Atlantic Division</h3>        
        <div class="card-body">
            <h4 class="card-title">Boston Celtics</h4>
            <p class="card-text">O time é mal distribuido, muitos jogadores das mesmas posicoes. tem problemas na armacao e no garafao.
                    erving vai ter que fazer muita diferenca
                    davis é um passador talentoso porem jovem, natt e griffith é um scorer talentoso, pode virar uma estrela
                    Pode ser que de certo pq tem bons talentos individuais, mas sera
                    que vira uma equipe consistente?
                    Seria o gm do celtics um visionario ou simplesmente um louco que caiu de paraquedas em boston? veremos os proximos capitulos.</p>
            <a href="/html-preview/BOSCeltics_Roster.html" class="btn btn-primary">Time</a>
        </div>   
        <div class="card-body">
            <h4 class="card-title">New Jersey Nets</h4>
            <p class="card-text">Time encaixado, porem cru. ainda sim, tem 2 jogadores de garrafao de muito talento. nao é time pra agora mas pra daqui a 2 anos.
                grinski vai ser um defensor de garrafao elite e cliff deve ser uma estrela da liga.
                murphy eh um pg equilibrado
                chutaria que sera um tanker. 
                . Sera que new jersey ira prestar atencao nos nets ou no ultimo album do bon jovi?
                Entendedores entenderaos.</p>
            <a href="/html-preview/BKNNets_Roster.html" class="btn btn-primary">Time</a>
        </div>   
        <div class="card-body">
            <h4 class="card-title">New York Knicks</h4>
            <p class="card-text">Time muito consistente. gilmore é um pivo forte em todos aspectos. 
                wedman e adams sao pecas confiaveis que deviam ser mais falados.
                dennis é uma estrela defensiva, porem falta capacidade de armacao
                Competicao é a palavra chave em knicks. Esperem coisas boas.
                é topo do leste.</p>
            <a href="/html-preview/NYKKnicks_Roster.html" class="btn btn-primary">Time</a>
        </div>  
        <div class="card-body">
            <h4 class="card-title">Philadelphia 76ers</h4>
            <p class="card-text">Time consistente. westphal é uma estrela que deve carregar o ataque. Carroll éum pivo de muito potencial que ja pode ter impacto
                larry é uma ameaca absurda nos rebotes. bridgeman é um jogador confiavel
                cook é o ponto mais vulneravel, mas esta bem cercado.</p>
            <a href="/html-preview/PHI76ers_Roster.html" class="btn btn-primary">Time</a>
        </div> 
        <div class="card-body">
            <h4 class="card-title">Washington Wizards</h4>
            <p class="card-text">time bem equilibrado. Nixon é um armador que deve capitanear a equipe. Uma especie de general.
                Promete ser uma equipe muito forte na defesa. ainda acho que faltara um scorer pra liderar o time, 
                mas nao fica muito atras de seus rivais na divisao.</p>
            <a href="/html-preview/PHI76ers_Roster.html" class="btn btn-primary">Time</a>
        </div> 
    </div>
    <div class="card">
        <h3 class="card-title p-2 text-center">Central Division</h3>        
        <div class="card-body">
            <h4 class="card-title">Atlanta Hawks</h4>
            <p class="card-text">Acho um time com bons scorers, mas com muitos problemas defensivos. fora que 
                tera problemas na armacao. bradley sera uma forca defensiva
                mitchell e sigma sao scorer elite e merecem ser vigiados
                time desequilibrado, mas que pode dar certo com esforco coletivo
                tem talento ali. </p>
            <a href="/html-preview/ATLHawks_Roster.html" class="btn btn-primary">Time</a>
        </div>   
        <div class="card-body">
            <h4 class="card-title">Chicago Bulls</h4>
            <p class="card-text">Time fortissimo no ataque, porem deve muito na defesa. 
                Seus jogos prometem ser muito abertos e eletrizantes, 
                puro entrenenimento. Seu desequilibrio sera um problema. 
                joga e deixa jogar. Comprem a pipoca e deleitem-se</p>
            <a href="/html-preview/CHIBulls_Roster.html" class="btn btn-primary">Time</a>
        </div>   
        <div class="card-body">
            <h4 class="card-title">Cleveland Cavaliers</h4>
            <p class="card-text">Nao vejo muitos objetivos pra esse time nessa temporada. É claramente
                um time jovem pra desenvolvimento e ter uma pick bem alta. 
                Gervin pode querer pedir troca pois quer titulo e nao esta ficando mais jovem
                king é um jovem talentoso que pode explodir logo.</p>
            <a href="/html-preview/CLECavaliers_Roster.html" class="btn btn-primary">Time</a>
        </div>  
        <div class="card-body">
            <h4 class="card-title">Indiana Pacers</h4>
            <p class="card-text">Time que promete ter um ataque exuberante e tem em tyler
                seu espirito defensivo. Pode conseguir boas coisas, mas depende
                de doacao coletiva. free e davis sao pontuadores natos e greenwood
                é um pivo consistente</p>
            <a href="/html-preview/INDPacers_Roster.html" class="btn btn-primary">Time</a>
        </div> 
        <div class="card-body">
            <h4 class="card-title">Milwaukee Bucks</h4>
            <p class="card-text">Promete ter um jogo muito forte no garrafao. A dupla
                lucas e malone é digna de um campeao de nba jam. 
                cooper é um As defensivo que ja chega na liga sendo um 
                estorvo pra estrelas. time muito fisico que promete 
                muita entrega</p>
            <a href="/html-preview/MILBucks_Roster.html" class="btn btn-primary">Time</a>
        </div>
        <div class="card-body">
            <h4 class="card-title">Detroit Pistons</h4>
            <p class="card-text">Provavelmente o melhor garrafao da liga e um time muito forte. Grandes scorers, garrafao forte na defesa.
                archibald ainda tem lenha pra queimar. Todos pontuam. 
                Se o time nao ganhar esse ano, vai ser considerado um tremendo fracasso. 
                A dupla de garrafao é hall da fama e fará de tudo pra conseguiu alguns aneis
                sera que o inexperiente tecnico picapau biruta tera competencia pra gerir esse 
                vestiario pesado? A torcida ainda esta apoiando. Mas nao é conhecida por sua paciencia. 
                Se o time nao ganhar, o pau vai quebrar!</p>
            <a href="/html-preview/DETPistons_Roster.html" class="btn btn-primary">Time</a>
        </div>  
    </div>
  </div>
  <div class="card col-lg-5 m-3">
    <h1 class="text-center">West</h1>
    <div class="card">
        <h3 class="card-title p-2 text-center">Midwest Division</h3>        
        <div class="card-body">
            <h4 class="card-title">Dallas Mavericks</h4>
            <p class="card-text">Time defensivo fortissimo, vai ser dificil pontuar contra.
                defensivamente talvez o melhor garrafao defensivo da liga.
                so que falta repertorio ofensivo. é um time que com uma troca
                pode virar ate contender, mas precisa se mexer. </p>
            <a href="/html-preview/DALMavericks_Roster.html" class="btn btn-primary">Time</a>
        </div>   
        <div class="card-body">
            <h4 class="card-title">Denver Nuggets</h4>
            <p class="card-text">Não vejo muita forca nesse time, teria que se mexer pra ter melhores chances
                wilkes e cartiright pontuam bem, mas o time nao tem defesa e o entorno nao ajuda.
                nao confio em silas como criador de jogadas
                parece ser um time de pick alta no draft</p>
            <a href="/html-preview/DENNuggets_Roster.html" class="btn btn-primary">Time</a>
        </div>   
        <div class="card-body">
            <h4 class="card-title">Houston Rockets</h4>
            <p class="card-text">Claramente temos um time talentoso aqui. Bird é uma estrela 
                geracional. purvis tb é otimo pontuador. Mas o time nao tem defesa
                mc hale e laimbeer ainda sao muito crus. è um time que veria com carinho 
                em alguns anos a conseguir coisas grandes, principalmente
                se tiver sorte no draft. </p>
            <a href="/html-preview/HOURockets_Roster.html" class="btn btn-primary">Time</a>
        </div>  
        <div class="card-body">
            <h4 class="card-title">Sacramento Kings</h4>
            <p class="card-text">É um time dificil de fazer prognostico. O garrafao encaixa bem, thompson
                é um scorer elite, mas nao sei se tem forcas pra ir longe. 
                talvez dispute offs, talvez precise de uma troca de impacto. </p>
            <a href="/html-preview/STOKings_Roster.html" class="btn btn-primary">Time</a>
        </div> 
        <div class="card-body">
            <h4 class="card-title">San Antonio Spurs</h4>
            <p class="card-text">Não vejo esse time indo longe. Ray willians é um excelente 
                general, ballard um otimo jogador . Nater um reboteiro de elite.
                mas parece que falta um star power e defesa de garrafao. Uma troca pode alavancar muito. O perimetro é forte e confiavel. 
                esse time. Moncrief me parece uma joia que ira explodir logo.
                Mcadoo parece ja estar longe dos seus melhores dias. </p>
            <a href="/html-preview/SASSpurs_Roster.html" class="btn btn-primary">Time</a>
        </div> 
        <div class="card-body">
            <h4 class="card-title">Utah Jazz</h4>
            <p class="card-text">Acho o time mais equilibrado. porter é um playmaker excelente.
                issel uma forca a ser batida no garrafao. marquis um scorer elite. 
                Com um defensor otimo , esse time seria mando no oeste e disparasse 
                na divisao, ainda sim, meu favorito com dallas proximo . Seu ataque é muito poderoso</p>
            <a href="/html-preview/UTAJazz_Roster.html" class="btn btn-primary">Time</a>
        </div> 
    </div>
    <div class="card">
        <h3 class="card-title p-2 text-center">Pacific Division</h3>        
        <div class="card-body">
            <h4 class="card-title">Golden State Warriors</h4>
            <p class="card-text">Dificil previsao , acredito ser um time medio. precisa de trocas
                roundfield e king sao otimos, mas nao sei se tem forca pra levar
                muito longe. vinnie eh um scorer que ajuda, mas sinto que falta algo mais. 
                A defesa nao inspira confianca e vinnie nao é um playmaker natural.  </p>
            <a href="/html-preview/GSWWarriors_Roster.html" class="btn btn-primary">Time</a>
        </div>
        <div class="card-body">
            <h4 class="card-title">Los Angeles Clippers</h4>
            <p class="card-text">Leavell parece ter potencial, theus eh uma jovem estrela que foi muito desejada
                thompson é um protetor de aro excelente. 
                Otimo time, nao me parece ter defeitos evidentes. Brooks é outra estrela em potencial
                que ja deve ter impacto Tem cara de time de mando pra mim
                podendo ser contender ate. </p>
            <a href="/html-preview/LACClippers_Roster.html" class="btn btn-primary">Time</a>
        </div>  
        <div class="card-body">
            <h4 class="card-title">Los Angeles Lakers</h4>
            <p class="card-text">Time forte que pode gerar frutos agora. A visao do gm ao apostar em lanier
                pode fazer muita diferenca. Ele e magic devem fazer uma bela dupla com o suporte de ford
                cathings é uma peca defensiva importante que complementa o time. Acho o favorito da divisao e um dos melhores
                do oeste. O perimetro ja é fortissimo e tem em magic um vetor pra uma dinastia. 
                Lakers e clippers farao uma grande rivalidade. Sao os 2 contender do oeste. E estao entre os favoritos ao titulo</p>
            <a href="/html-preview/LALLakers_Roster.html" class="btn btn-primary">Time</a>
        </div>
        <div class="card-body">
            <h4 class="card-title">OKC Thunder</h4>
            <p class="card-text">Michael ray é uma estrela que carrega qlq equipe.
                a dupla hubbard e carr vai garantir muitos rebotes
                billy ray eh um scorer competente. 
                kent benson é um protetor de aro confiavel. 
                é um bom time, deu azar de estar na mesma divisao dos times de LA. 
                Ainda sim pode fazer uma boa historia.</p>
            <a href="/html-preview/OKCThunder_Roster.html" class="btn btn-primary">Time</a>
        </div>  
        <div class="card-body">
            <h4 class="card-title">Phoenix Suns</h4>
            <p class="card-text">Time com poder de fogo muito forte. Alex english 
                é uma ameaca aterradora. Long o ajudara na pontuacao. 
                Mas parece que falta defesa. Sera que o ataque poderoso 
                conseguira suprir isso? </p>
            <a href="/html-preview/PHXSuns_Roster.html" class="btn btn-primary">Time</a>
        </div>
        <div class="card-body">
            <h4 class="card-title">Portland Trail Blazers</h4>
            <p class="card-text">Outro bom time. A dupla birdsong e parish pode trazer muito
                sucesso, pois faz o time ser bom nos 2 lados da quadra. 
                James bailey é uma promessa gigante com potencial defensivo
                enorme. Kelser é competente. 
                Mas sera um trabalho arduo pq sua divisao é bem dificil.
                Ainda sim, é um time de offs e ate mando de quadra</p>
            <a href="/html-preview/PORTrail Blazers_Roster.html" class="btn btn-primary">Time</a>
        </div>  
    </div>
  </div>
</div>
{% endblock %}
